body {
    padding: 10px;
    margin: 0;
    font-family: Papyrus;
}
h3 {
    font-size: 14px;
    margin: 2px 5px;
    padding: 5px 32px;
    background-repeat: no-repeat;
    display: block;
}
th {
    font-variant: small-caps;
}
ol, li {
    margin: 3px;
    padding: 0 15px;
}
#container {
    margin: 0 auto;
    position: relative;
    width: 98%;
    height: 100%;
    min-width: 550px;
    background: #fefefe;
    border-radius: 10px;
    border: 1px solid #555;
}
#top-right {
    float: right;
    width: 100%;
    text-align: right;
    margin: 5px 3px;
}
#top-right button {
    width: 130px;
}
#main {
    clear: right;
    width: 100%;
    overflow: scroll;

    overflow-x: hidden;


}
#main #hero-status-header {
    background-image: url("../images/icons/misc/char-stats.gif");
}
#main #pane-one-header {
    background-image: url("../images/icons/misc/contract-info.gif");
}
#main #pane-two-header {
    background-image: url("../images/icons/misc/opponent-info.gif");
}
#main .console-header {
    background-image: url("../images/icons/misc/console.gif");
}
#main #console {
    max-width: 65%;
    min-width: 150px;
    border: 1px solid #444;
    height: 350px;
    font-size: 12px;
    margin-left: 10px;
    overflow: auto;
}

#main #main-right {
    float: right;
    position: relative;
    min-width: 350px;
    max-width: 30%;
    padding-right: 10px;
}
#main #pane-one, #main #hero-status, #main #pane-two {
    height: 138px;
    width: 46%;
    border: 1px solid #666;
    font-size: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

#main #hero-status {
    width: 100%;
}
#main #pane-two-header {
    position: absolute;
    left: 50%;
    top: 0;
}
#main #pane-two {
    position: absolute;
    left: 50%;
    top: 35px;
}
#main #hero-status td {
    width: 25%;
}

#hero-status table {
    width: 100%;
}
#hero-status th {
    text-align: left;
}
#user-input{
    width: 100%;
    padding: 3px;
}

#user-input {
    background: url("../images/icons/misc/user-input.gif") no-repeat;

}
#user-input input#user-text {
    width: 85%;

}
#user-input button {
    width: 9%;
}
/* Text Classes */
#main #console p {
    margin: 0;
    padding: 0;
}

#main #console span {
    margin: 1px 5px;
    background-repeat: no-repeat;
    padding: 1px 18px;
    display: block;
    min-height: 18px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
#contractModal .modal-content #contract-content .contract-option {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
#contractModal .modal-content #contract-content .contract-option button {
    width: 100%;
 }
#contractModal .modal-content #contract-content .contract-option td {

    border: 1px solid #777;
    padding: 3px;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}